<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS Tutorials</title>
        <link href="style.css" rel="stylesheet" />
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="vue-app">
            <h1>Keyboard Events</h1>
            <label>Name:</label>
            <input type="text" v-on:keyup.enter="logName" v-model="name" />
            <span>{{ name }}</span>
          </br>
            <label>Age:</label>
            <input type="text" v-on:keyup.alt.ctrl.enter="logAge" v-model="age" />
            <span>{{ age }}</span>
        </div>
    </body>

    <script src="app.js"></script>
</html>
