<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS Tutorials</title>
        <link href="style.css" rel="stylesheet" />
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="vue-app">
            <h1>Computed Properties</h1>
            <button v-on:click="a++">Add to A</button>
            <button v-on:click="b++">Add to B</button>
            <p>A - {{ a }}</p>
            <p>B - {{ b }}</p>
            <p>Age + A 1= {{ addToA1() }}</p>
            <p>Age + B 1= {{ addToB1() }}</p>
            <p>Age + A = {{ addToA }}</p>
            <p>Age + B = {{ addToB }}</p>
        </div>
    </body>

    <script src="app.js"></script>
</html>
