<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS Tutorials</title>
        <link href="style.css" rel="stylesheet" />
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="vue-app">
            <h1>Conditionals</h1>
            <button v-on:click="error = !error">error</button>
            <button v-on:click="success = !success">uccess</button>
            <!-- <p v-if="error" class="error">errorrrrr</p>
            <p v-else-if="success" class="success">successsssssss</p> -->
            <p v-show="error" class="error">errorrrrr</p>
            <p v-show="success" class="success">successsssssss</p>
        </div>
    </body>

    <script src="app.js"></script>
</html>
