<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS Tutorials</title>
        <link href="style.css" rel="stylesheet" />
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <h1>Multiple Vue</h1>



        <div id="vue-app-one">
            <h2>{{ title }}</h2>
            <p>{{ greet }}</p>
        </div>



        <div id="vue-app-two">
            <h2>{{ title }}</h2>
            <p>{{ greet }}</p>
            <button v-on:click="changeTitle">Change App One Title</button>
        </div>



    </body>

    <script src="app.js"></script>
</html>
